/*
/*/
!.gitignore
!.vscode/
!scripts/
!/Cross_Border_Trade.mod
!/Cross_Border_Trade/
!/Fewer_Habitable_Planets_25.mod
!/Fewer_Habitable_Planets_25/
!/Fewer_Habitable_Planets_25_Real_Space_Patch.mod
!/Fewer_Habitable_Planets_25_Real_Space_Patch/
!/Under_Siege.mod
!/Under_Siege/
!/Smarter_Hyper_Relays.mod
!/Smarter_Hyper_Relays/
!/Smarter_Hyper_Relays_Submod_Cheaper_Relays.mod
!/Smarter_Hyper_Relays_Submod_Cheaper_Relays/
!/Uncivic.mod
!/Uncivic/